# Welcome!

Hello! Welcome to the notebook üìï for Practice 1!

This notebook covers the basics of Python programming discussed in Lesson 1.

# Let's Get Started üéâ

To run/activate a cell:
- Click the **play icon ‚ñ∂Ô∏è** beside the cell, or
- Press **cmd/shift + enter** (Mac) or **ctrl/shift + enter** (Windows) after selecting the cell

# Task 1

Print out your name, age, hobby, and two other things using the print() statement!

In [ ]:
# Write your code in this cell

# Task 2

Print out the type of each of the following variables using print() and type()!

In [ ]:
a = 6
# Write your code in this cell

In [ ]:
b = "Hello, World!"
# Write your code in this cell

In [ ]:
c = False
# Write your code in this cell

In [ ]:
d = 5.7
# Write your code in this cell

In [ ]:
e = "n"
# Write your code in this cell

# Task 3

Assign values to and print out the following variables:
- `my_sum`
- `my_diff`
- `my_product`
- `my_quotient`
- `my_remainder`
- `my_power`

In [ ]:
i = 25
j = 4

In [ ]:
# sum of i and j
# Write your code in this cell
my_sum =

In [ ]:
# difference between i and j
# Write your code in this cell
my_diff =

In [ ]:
# product of i and j
# Write your code in this cell
my_product =

In [ ]:
# quotient of i and j
# Write your code in this cell
my_quotient =

In [ ]:
# remainder of i divided by j
# Write your code in this cell
my_remainder =

In [ ]:
# i to the power of j
# Write your code in this cell
my_power =

# Task 4

Create a 3D shape and print out its volume!

For example:
```python
pi = 3.14159
radius = 10
height = 15
volume = pi * (radius**2) * height
print(volume)
```

OR

```python
length = 3
width = 9
height = 5
volume = length * width * height
print(volume)
```

In [ ]:
# Write your code in this cell

# Congratulations üéâ

You've finished the notebook üìï for Practice 1! Hopefully, you've improved your coding skills and learnt something new!

**üíª with ‚ù§Ô∏è by Code for Hope**